.aside-dark .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here), .aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: #0a6c84 !important;
    color: white
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon, .aside-dark .menu .menu-item .menu-link.active .menu-icon .svg-icon, .aside-dark .menu .menu-item .menu-link.active .menu-icon i {
    color: #1085A4 !important;
}